*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

header img{
  width: 48px;
  height: 48px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(41, 41, 71);
  padding: 1rem;
}

ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  grid-gap: 2rem;
}

.navList a{
  text-decoration: none;
  color: white;
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product img{
  width: 100%;
  }
